html{
    background: #2f3338 url("./images/backback.png");
}

.giffstyle{
    //background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: repeat;
}

main{
    margin-left: 80px;
    //position: fixed;
    //padding: 16px;
}

label{
    position: absolute;
}
.facestyle{
    max-height: 100vh;
}

.App-header{
    margin-top: initial;
}

.Navbar{
    z-index: 1;
    position: absolute;
    //position: fixed;
    width: 80px;
    height: 100vh;
    background-color: rgba(61, 66, 74, 0.98);
}
.navbar-nav {
    //position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:hover{
    //background: #364c5c;
    -webkit-transform: scale(0.96);
    -ms-transform: scale(0.96);
    transform: scale(0.96);
}

.NavBottom1{
    z-index: 10;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.Navbar .NavBottom1{
    position: absolute;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

.Navbar ul li:hover .NavBottom1 {
    position: relative;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.NavBottom1{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 700px){
    main{
        margin-left: 40px;
    }
    .slider{
        width: 200%;
    }
    .Navbar{
        width: 40px;
    }
    .MyIMG{
        height: 40px;
    }
    .giffstyle{
        width: 200px;
    }
}

.slider{
    //transform: rotate(-90deg);
    margin-top: 20px;
}

.upload-container {
    list-style-image: url("./images/icons/add.png");
    display: flex;
    width: 80px;
    height: 80px;
    //background-image: url("./images/icons/add.png");
    -webkit-background-image: url("./images/icons/add.png");
}

.upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

.modal-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}
.tooltip1{
    background-color: #687276;
    z-index: 2;
}